<?xml version="1.0"?>
<configuration>
    <system.web>

    </system.web>
  <!--<connectionStrings>
    <add name="Duckstad"
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0;
                         Data Source=|DataDirectory|Duckstad.mdb"
         providerName="System.Data.OleDb" />
  </connectionStrings>-->
</configuration>
